* {
  box-sizing: border-box;
}

body {
  /* background-color: rgb(43, 42, 42); */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* color: #fff; */
}

#title {
  margin-right: 15%;
}

.container {
  display: flex;
}

/* Start Screen */
.loseScreen {
  position: absolute;
  border: 5px solid black;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 520px;
  height: 520px;
}

.loseScreen h1 {
  font-size: 2.5rem;
}

.loseScreen button {
  border: none;
  padding: 1rem 1.5rem;
  color: #fff;
  background-color: black;
}

.loseScreen button:hover {
  cursor: pointer;
  background-color: rgb(70, 68, 68);
}

/* Game Over Screen */

.startScreen {
  position: absolute;
  border: 5px solid black;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 520px;
  height: 520px;
}

.startScreen h1 {
  font-size: 2.5rem;
}

.startScreen button {
  border: none;
  padding: 1rem 1.5rem;
  color: #fff;
  background-color: black;
}

.startScreen button:hover {
  cursor: pointer;
  background-color: rgb(70, 68, 68);
}

#gameCanvas {
  border-radius: 5px;
  margin-right: 3rem;
}

.score {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  width: 200px;
}

.directions h2,
h3 {
  margin-left: 2rem;
}

.directions li {
  line-height: 1.2;
  font-size: 1.2rem;
}

.playerScore {
  font-size: 2rem;
}

.hidden {
  display: none;
}
